@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Manrope", sans-serif;
  background: linear-gradient(180deg, #fcfcff 0%, #ffffff 45%, #fbfbff 100%);
  color: #1d2438;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-md {
  font-size: 1rem;
  line-height: 1.5rem;
}
